<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="AKIA4AHGPS7ULPQ5CFPD"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSServiceUrl" value="https://s3.amazonaws.com"/>
    <add key="AWSRegionId" value="us-east-2"/>
    
  </appSettings>
</configuration>